

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: url(../img/background-face.png) #c9a68f;
	background-size: cover;  /* 2561px 2049px */
	background-repeat: no-repeat;
	background-position: left center;
	background-attachment: fixed;
	padding-top: 60px;
	padding-bottom: 70px;
	font-family: "Palatino", "Times New Roman", "Times";
	color: #3B1B00;
	text-shadow: 0px 0px 3px rgba(255,255,255,0.6);
	/* #1D150F; */
}

.navbar {
	opacity: 0.70;
	position: fixed ;
}












